{% extends "main.html" %}
{% load crispy_forms_tags %}
{% block content %}

<style>
    .django-ckeditor-widget{
  width: 100%;
}


</style>


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Create Post</h1>
            </div>
            <div class="col-sm-6">

            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">

        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title">New Post</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">


                <form enctype="multipart/form-data" name="postForm" method="POST">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-sm-10">
                            {{ form.title|as_crispy_field }}
                            {{ form.description|as_crispy_field }}

                            <label for="id_content" class="row">
                                Content
                            </label>
                            {{ form.media }}
                            {{form.content}}

                            <br><br><br><br>
                            <div class="row">

                                <div class="col-7"></div>
                                <div class="col-2">
                                    {{ form.publish_from|as_crispy_field }}
                                </div>
                                <div class="col-1"></div>
                                <div class="col-2">
                                    {{ form.publish_to|as_crispy_field }}
                                </div>


                            </div>

                        </div>

                        <div class="col-sm-2">

                            <div class="row">
                                <div class="col-sm-1">


                                </div>
                                <div class="col-sm-11">

                                    <div style='max-height:185px; overflow:scroll; overflow-x: hidden;'>

                                        {{ form.categories|as_crispy_field }}


                                    </div>

                                    <button id="addCategory" type="button" class="btn btn-success btn-block btn-sm mt-3"
                                            data-toggle="modal"
                                            data-target="#categoryModal">
                                        <i class="fas fa-plus">
                                        </i>
                                        Add New Category
                                    </button>


                                    <br><br>

                                    <div style='max-height:185px; overflow:scroll; overflow-x: hidden;'>

                                        {{ form.tags|as_crispy_field }}

                                    </div>

                                    <button id="addTag" type="button" class="btn btn-success btn-block btn-sm mt-3"
                                            data-toggle="modal"
                                            data-target="#tagModal">
                                        <i class="fas fa-plus">
                                        </i>
                                        Add New Category
                                    </button>


                                    <br><br>

                                    <img style="height:auto; width:100%;" src="{{object.imageURL}}">
                                    {{ form.featured_image|as_crispy_field }}

                                    <br><br>
                                    {{ form.is_published|as_crispy_field }}

                                    <!--                                <button class="btn btn-secondary " type="submit">Save Post</button>-->
                                </div>
                            </div>


                        </div>
                    </div>


                    <div class="form-group">
                        <button class="btn btn-success float-right" type="submit">Save Post</button>
                    </div>
                </form>

            </div>
            <!-- /.card-body -->
        </div>

    </div>
</section>


<div class="modal fade text-left" id="categoryModal">
    <div class="modal-dialog">
        <form method="POST" id="createCategoryForm" novalidate="novalidate" name="categoryForm"
              data-url="{% url 'category-create' %}" action="{% url 'category-create' %}">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add New Category</h4>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <fieldset class="form-group">
                        <!--                        form2.name|as_crispy_field}}-->
                        <!--                        form2.description|as_crispy_field}}-->
                        <div id="div_category_name" class="form-group">
                            <label for="id_name" class=" requiredField">
                                Name<span class="asteriskField">*</span>
                            </label>
                            <div>
                                <input type="text" name="name" maxlength="200"
                                       class="textinput textInput form-control" required="" id="id_category_name"
                                       required="true" required>
                            </div>
                        </div>
                        <div id="div_category_description" class="form-group">
                            <label for="id_description" class="">
                                Description
                            </label>
                            <div>
                                    <textarea name="description" cols="40" rows="10" maxlength="300"
                                              class="textarea form-control" id="id_category_description"></textarea>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">Close
                    </button>
                    <button id="createCategoryBtn" class="btn btn-success float-right" type="button">Add Category
                    </button>
                </div>
            </div>

        </form>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade text-left" id="tagModal">
    <div class="modal-dialog">
        <form method="POST" id="createTagForm" novalidate="novalidate" name="tagForm" data-url="{% url 'tag-create' %}"
              action="{% url 'tag-create' %}">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add New Tag</h4>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <fieldset class="form-group">
                        <!--                        form2.name|as_crispy_field}}-->
                        <!--                        form2.description|as_crispy_field}}-->
                        <div id="div_tag_name" class="form-group">
                            <label for="id_name" class=" requiredField">
                                Name<span class="asteriskField">*</span>
                            </label>
                            <div>
                                <input type="text" name="name" maxlength="200"
                                       class="textinput textInput form-control" required="" id="id_tag_name"
                                       required="true" required>
                            </div>
                        </div>
                        <div id="div_tag_description" class="form-group">
                            <label for="id_description" class="">
                                Description
                            </label>
                            <div>
                                    <textarea name="description" cols="40" rows="10" maxlength="300"
                                              class="textarea form-control" id="id_tag_description"></textarea>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">Close
                    </button>
                    <button id="createTagBtn" class="btn btn-success float-right" type="button">Add Tag</button>
                </div>
            </div>

        </form>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


{% endblock content %}