{% extends 'main.html' %}
{% block content %}


<div class="row mt-3">


    {% for post in posts %}

        <div class="col-md-4">
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">

                    <!-- Post -->
                    <div class="post">

                        <div class="user-block">
                            <img class="img-circle img-bordered-sm"
                                 src="{{post.created_by.profile.imageURL}}"
                                 alt="User Image">
                            <span class="username">
                          <a href="{% url 'user-profile' post.created_by.profile.id %}" class="ml-2"> {{post.created_by.profile.first_name}} {{post.created_by.profile.last_name}}</a>
                          <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                        </span>
                            <span class="description">Published at {{post.publish_from}}</span>
                        </div>
                        <!-- /.user-block -->

                            <a  class="post" href="{{post.get_absolute_url}}">

                        <img class="img-fluid" src="{{post.imageURL}}" alt="Photo">

                        <h3 class="mt-2">{{post.title}}</h3>

                        <p><b>{{post.description}}</b></p>

                            </a>
                        <div class="row">
                            {% for tag in post.tags.all %}
                            <button type="button" class="btn btn-block btn-secondary"
                                    style="width:auto;  margin:10px;">
                                {{tag.name}}
                            </button>

                            {% endfor %}


                            <span class="float-right">
                            <i class="far fa-comments mr-1"></i> Comments ({{post.getCommentCount}})
                        </span>
                        </div>


                    </div>
                    <!-- /.post -->

                </div>
            </div>
        </div>

    {% endfor %}


</div>


{% endblock content %}