{% extends 'main.html' %}
{% block content %}


{% if  user.is_authenticated %}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Posts</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <a href="{% url 'post_create' %}" class="btn btn-app">
                        <i class="fas fa-edit"></i> Add New Post
                    </a>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                <tr>
                    <th style="width: 40%">
                        Post Title
                    </th>
                    <th style="width: 12.5%">
                        Categories
                    </th>
                    <th style="width: 12.5%">
                        Tags
                    </th>
                    <th style="width: 10%" class="text-center">
                        Status
                    </th>
                    <th style="width: 25%">
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for post in posts %}

                <tr>
                    <td>
                        <a>
                            {{post.title}}
                        </a>
                        <br>
                        <small>
                            Published at {{post.publish_from}}
                        </small>
                    </td>
                    <td>
                        <ul class="list-inline">

                            {% for category in post.categories.all %}
                            <li>
                                <a>
                                    {{category.name}}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td class="project_progress">
                        <ul class="list-inline">
                            {% for tag in post.tags.all %}
                            <li>
                                <a>
                                    {{tag.name}}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td class="project-state">
                        {% if post.is_published %}
                        <span class="badge badge-success">Published</span>
                        {% else %}
                        <span class="badge badge-dark">Not Published</span>
                        {% endif %}

                    </td>
                    <td class="project-actions text-right">
                        <a class="btn btn-primary btn-sm" href="{{post.get_absolute_url}}">
                            <i class="fas fa-folder">
                            </i>
                            View
                        </a>
                        <a class="btn btn-info btn-sm" href="{% url 'post_update' post.id %}">
                            <i class="fas fa-pencil-alt">
                            </i>
                            Edit
                        </a>

                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                data-target="#modal-default">
                            <i class="fas fa-trash">
                            </i>
                            Delete
                        </button>


                        <div class="modal fade text-left" id="modal-default">
                            <div class="modal-dialog">
                                <form method="POST" action="{% url 'post_delete' post.id %}">
                                    {% csrf_token %}
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Delete</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <div class="modal-body">

                                            <fieldset class="form-group">

                                                <h5> Are you sure you want to delete the
                                                    post</h5>

                                                <br>
                                                <h4>"{{ post.title }}"</h4>
                                            </fieldset>

                                        </div>
                                        <div class="modal-footer justify-content-between">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                            </button>
                                            <button class="btn btn-danger" type="submit">Yes, Delete</button>
                                        </div>
                                    </div>

                                </form>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!-- /.modal -->


                    </td>
                </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->

    </div>
    <!-- /.card -->

<!--pagination-->
<div class="card-body">

       <nav aria-label="Page navigation example ">

      {% if is_paginated %}
      <ul class="pagination justify-content-center">
        {% if posts.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{page_obj.previous_page_number}}"
            >&laquo;</a
          >
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">&laquo;</a>
        </li>
        {% endif %}


          {% for i in paginator.page_range %}

          {% if posts.number == i %}
        <li class="page-item"><a class="page-link active">{{ i }}</a></li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
        {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
        <li class="page-item">
          <a href="?page={{page_obj.next_page_number}}" class="page-link"
            >&raquo;</a
          >
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link">&raquo;</a>
        </li>
        {% endif %}


      </ul>
      {% endif %}
    </nav>

</div>
<!--end pagination-->



</section>
<!-- /.content -->

{% endif %}

{% if not user.is_authenticated %}

<div id="content">
    <div class="container">


        <div class="blog-masonry" style="position: relative; height: 1362.44px;">
            {% for post in posts %}
            <div class="post-card -center" style="position: absolute; left: 0px; top: 0px;"><a class="card__cover"
                                                                                               href="{{post.get_absolute_url}}"><img
                    src="{{post.imageURL}}" alt="Looking for some feedback for this rejected track"></a>
                <div class="card__content">
<!--                    <h5 class="card__content-category">Technology</h5>-->
                    <a class="card__content-title"
                       href="{{post.get_absolute_url}}">{{post.title}}</a>
                    <div class="card__content-info">
                        <div class="info__time"><i class="far fa-clock"></i>
                            <p>{{post.created_at}}</p>
                        </div>
                        <div class="info__comment"><i class="far fa-comment"></i>
                            <p>{{post.getCommentCount}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>

        <!--pagination-->
<div class="card-body">

       <nav aria-label="Page navigation example ">

      {% if is_paginated %}
      <ul class="pagination justify-content-center">
        {% if posts.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{page_obj.previous_page_number}}"
            >&laquo;</a
          >
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">&laquo;</a>
        </li>
        {% endif %}


          {% for i in paginator.page_range %}

          {% if posts.number == i %}
        <li class="page-item"><a class="page-link active">{{ i }}</a></li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
        {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
        <li class="page-item">
          <a href="?page={{page_obj.next_page_number}}" class="page-link"
            >&raquo;</a
          >
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link">&raquo;</a>
        </li>
        {% endif %}


      </ul>
      {% endif %}
    </nav>

</div>
<!--end pagination-->

    </div>
</div>

{% endif %}


{% endblock content %}