{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class="card-body">
    <div class="tab-content">
        <div class="active tab-pane" id="activity">


            <!-- Post -->
            <div class="post">
                <div class="user-block">
                    <img class="img-circle img-bordered-sm" src="{{post.created_by.profile.imageURL}}" alt="User Image">
                    <span class="username">
                          <a href="#">{{post.created_by.profile.first_name}} {{post.created_by.profile.last_name}}</a>
                          <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                        </span>
                    <span class="description">Published at {{post.publish_from}}</span>
                </div>
                <!-- /.user-block -->
                <div class="row mb-3">
                    <div class="col-sm-6">
                        <img class="img-fluid" src="{{post.imageURL}}" alt="Photo">
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <h1>{{post.title}}</h1>

                                <h4><b>{{post.description}}</b></h4>
                                <p>{{post.content|safe}}</p>

                                <h3>Tags</h3>
                                <div class="row">
                                    {% for tag in post.tags.all %}
                                    <button type="button" class="btn btn-block btn-secondary"
                                            style="width:auto;  margin:10px;">
                                        {{tag.name}}
                                    </button>

                                    {% endfor %}
                                </div>
                                <br>
                                <h3>Categories</h3>
                                <div class="row">
                                    {% for category in post.categories.all %}

                                    <button type="button" class="btn btn-block btn-info"
                                            style="width:auto; margin:10px;">
                                        {{category.name}}
                                    </button>
                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

                <p>

                    <span class="float-right">
                          <a href="#" class="link-black text-sm">
                            <i class="far fa-comments mr-1"></i> Comments ({{post.getCommentCount}})
                          </a>
                        </span>
                </p>

                <!--                <input class="form-control form-control-sm" type="text" placeholder="Type a comment">-->
                <!--                <br>-->
                <!--                <button type="submit" class="btn btn-danger">Send</button>-->
            </div>

            <form method="post">
                {% csrf_token %}

                {{form|crispy}}

                <button type="submit" class="btn btn-danger">Add Comment</button>

            </form>
            <!-- /.post -->
        </div>
        <!-- /.tab-pane -->

        <br>


        <!--        comments-->


        <!-- Comment Form -->
        {% if user.is_authenticated %}
        <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
                <form method="POST" action="{% url 'add_comment' post.slug %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea class="form-control" name="text" rows="3" required></textarea>
                        <input type="hidden" name="user_id" value="{{user.id}}">
                    </div>
                    <button class="btn btn-primary" type="submit">Comment</button>
                </form>
            </div>
        </div>
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-success btn-lg btn-block mb-4">
            Sign In for comment and like the post.
        </a>
        {% endif %}

        <div class="row">
            <div class="col-12">
                <h4>Recent Comments</h4>

                {% for comment in post.comment_set.all %}
                <div class="post">
                    <div class="user-block">
                        <img class="img-circle img-bordered-sm"
                             src="{{comment.created_by.profile.imageURL}}" alt="user image">
                        <span class="username">
                          <a href="#">{{comment.created_by.profile.first_name}} {{comment.created_by.profile.last_name}}</a>
                        </span>
                        <span class="description">Shared publicly - {{comment.created_at}}</span>
                    </div>
                    <!-- /.user-block -->
                    <p>
                        {{comment.comment}}
                    </p>


                </div>

                {% endfor %}

            </div>
        </div>
    </div>






<div class="post">
        <div class="container">
          <div class="post-standard">

            <div class="row">
              <div class="col-12 col-md-8 mx-auto">
                <div class="post-standard__content">

                    <div class="post-card-quote -border">
                        <p class="quote__content mt-5">{{post.title}}</p>
                        <h5 class="quote__author">Author: {{post.created_by.profile.first_name}} {{post.created_by.profile.last_name}}</h5>
                      </div>
                  <p class="paragraph">Description: {{post.description}}</p><img class="image left" src="{{post.imageURL}}" alt="Post image">
                  <p class="paragraph">If they’re still in the awareness stages of getting to know the brand, then they’ll most likely keep reading more on what Tock has to offer. They’re using one email design to speak to two types of readers both in the first stage of their welcome email.You can also change an email design’s color based on new product, season or to match a marketing campaign’s new look and feel.</p>
                  <p class="paragraph">Design: The email imitates a product marketing funnel system, bringing the reader towards each CTA with “Awareness, Consideration, and Action” as the main stages. Harry’s used a color block design to guide reader through each,</p>
                  <p class="paragraph">Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                  <p class="paragraph">Non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                  <div class="post-footer">
                    <div class="post-footer__tags center">
                      <div class="tags-group"><a class="tag-btn" href="blog_category_grid.html">Gutenews</a><a class="tag-btn" href="blog_category_grid.html">Lifestyle</a><a class="tag-btn" href="blog_category_grid.html">Fashion</a><a class="tag-btn" href="blog_category_grid.html">Technology</a><a class="tag-btn" href="blog_category_grid.html">Food</a>
                      </div>
                    </div>
                    <div class="post-footer__author">
                      <div class="author__avatar"><img src="assets/images/post_detail/author.png" alt="Author avatar"></div>
                      <div class="author__info">
                        <h5>Lena Mollein</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse vel facilisis. </p>
                        <div class="social-media"><a href="#"><i class="fab fa-facebook-f"></i></a><a href="#"><i class="fab fa-twitter"></i></a><a href="#"><i class="fab fa-instagram"></i></a><a href="#"><i class="fab fa-dribbble"></i></a></div>
                      </div>
                    </div>
                    <div class="post-footer__related">
                      <div class="post-footer__related__item -prev"><a href="post_standard.html"> <i class="fas fa-chevron-left"></i>Previous posts</a>
                        <div class="post-footer__related__item__content"><img src="assets/images/posts/2.png" alt="Relate news image">
                                            <div class="post-card ">
                                              <div></div>
                                              <div class="card__content">
                                                <h5 class="card__content-category">Typography</h5><a class="card__content-title" href="post_standard.html">How to name, save and export a finish template</a>
                                              </div>
                                            </div>
                        </div>
                      </div>
                      <div class="post-footer__related__item -next"><a href="post_standard.html">
                           Next posts<i class="fas fa-chevron-right"></i></a>
                        <div class="post-footer__related__item__content">
                                            <div class="post-card -right">
                                              <div></div>
                                              <div class="card__content">
                                                <h5 class="card__content-category">Graphic</h5><a class="card__content-title" href="post_standard.html">I want to create a logo with illustrator hacker</a>
                                              </div>
                                            </div><img src="assets/images/posts/3.png" alt="Relate news image">
                        </div>
                      </div>
                    </div>
                    <div class="post-footer__comment">
                      <h3 class="comment-title"> <span>3 comment</span></h3>
                      <div class="post-footer__comment__detail">
                        <div class="comment__item">
                          <div class="comment__item__avatar"><img src="assets/images/post_detail/avatar/1.png" alt="Author avatar"></div>
                          <div class="comment__item__content">
                            <div class="comment__item__content__header">
                              <h5>Brandon Kelley</h5>
                              <div class="data">
                                <p><i class="far fa-clock"></i>Aug,15, 2019</p>
                                <p><i class="far fa-heart"></i>12</p>
                                <p><i class="far fa-share-square"></i>1</p>
                              </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore aliqua. Quis ipsum suspendisse ultrices gravida lacus vel facilisis.</p>
                          </div>
                          <div class="comment__item__reply">
                            <div class="comment__item">
                              <div class="comment__item__avatar"><img src="assets/images/post_detail/avatar/2.png" alt="Author avatar"></div>
                              <div class="comment__item__content">
                                <div class="comment__item__content__header">
                                  <h5>Brandon Kelley</h5>
                                  <div class="data">
                                    <p><i class="far fa-clock"></i>Aug,15, 2019</p>
                                    <p><i class="far fa-heart"></i>12</p>
                                    <p><i class="far fa-share-square"></i>1</p>
                                  </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis ipsum suspendisse ultrices gravida lacus vel facilisis, sed do eiusmod tempor.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="comment__item">
                          <div class="comment__item__avatar"><img src="assets/images/post_detail/avatar/3.png" alt="Author avatar"></div>
                          <div class="comment__item__content">
                            <div class="comment__item__content__header">
                              <h5>Brandon Kelley</h5>
                              <div class="data">
                                <p><i class="far fa-clock"></i>Aug,15, 2019</p>
                                <p><i class="far fa-heart"></i>12</p>
                                <p><i class="far fa-share-square"></i>1</p>
                              </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore aliqua. Quis ipsum suspendisse ultrices gravida lacus vel facilisis.</p>
                          </div>
                        </div>
                      </div>
                      <h3 class="comment-title"> <span>Leave a comment</span></h3>
                      <div class="post-footer__comment__form">
                        <form action="/">
                          <div class="row">
                            <div class="col-12 col-sm-4">
                              <input type="text" placeholder="Name" name="name">
                            </div>
                            <div class="col-12 col-sm-4">
                              <input type="email" placeholder="Email" name="email">
                            </div>
                            <div class="col-12 col-sm-4">
                              <input type="text" placeholder="Webiste" name="website">
                            </div>
                          </div>
                          <textarea cols="30" rows="5" placeholder="Messages" name="message"></textarea>
                        </form>
                        <div class="center">
                          <button class="btn -normal">Submit</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>






    {% endblock content %}