{% extends 'main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#!">Blog App</a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="navbar-collapse collapse" id="navbarSupportedContent" style="">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Blog</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{post.title}}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted on {{post.publish_from}} by
                        {{post.created_by.profile.first_name}} {{post.created_by.profile.last_name}}
                    </div>
                    <!-- Post categories-->
                    {% for tag in post.tags.all %}
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{tag.name}}</a>
                    {% endfor %}
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="{{post.imageURL}}" alt="featured image">
                </figure>
                <!-- Post content-->
                <section class="mb-5">
                    <h2 class="fw-bolder mb-4 mt-5">Description</h2>
                    <p class="fs-5 mb-4">{{post.description}}</p>
                    <h2 class="fw-bolder mb-4 mt-5">Content</h2>
                    <p class="fs-5 mb-4">{{post.content|safe}}</p>

                </section>
            </article>

            <!-- Comment Form -->
            {% if user.is_authenticated %}
            <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <form method="POST" action="{% url 'add_comment' post.slug %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <textarea class="form-control" name="text" rows="3" required></textarea>
                            <input type="hidden" name="user_id" value="{{user.id}}">
                        </div>
                        <button class="btn btn-primary" type="submit">Comment</button>
                    </form>
                </div>
            </div>
            {% else %}
            <a href="{% url 'login' %}" class="btn btn-success btn-lg btn-block mb-4">
                Sign In to comment.
            </a>
            {% endif %}

            <!-- Comments section-->
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        <!-- Comment form-->


                        <div class="row">
                            <div class="col-12">
                                <h4>Recent Comments</h4>

                                {% for comment in post.comment_set.all %}
                                <div class="post">
                                    <div class="user-block">
                                        <img class="img-circle img-bordered-sm"
                                             src="{{comment.created_by.profile.imageURL}}" alt="user image">
                                        <span class="username">
                          <a href="#">{{comment.created_by.profile.first_name}} {{comment.created_by.profile.last_name}}</a>
                        </span>
                                        <span class="description">Shared publicly - {{comment.created_at}}</span>
                                    </div>
                                    <!-- /.user-block -->
                                    <p>
                                        {{comment.comment}}
                                    </p>


                                </div>

                                {% endfor %}

                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..."
                               aria-label="Enter search term..." aria-describedby="button-search">
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                {% for category in post.categories.all %}
                                <li><a href="{% url 'category-posts-list' category.slug %}">{{category.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!--                                <div class="col-sm-6">-->
                        <!--                                    <ul class="list-unstyled mb-0">-->
                        <!--                                        <li><a href="#!">JavaScript</a></li>-->
                        <!--                                        <li><a href="#!">CSS</a></li>-->
                        <!--                                        <li><a href="#!">Tutorials</a></li>-->
                        <!--                                    </ul>-->
                        <!--                                </div>-->
                    </div>
                </div>
            </div>
            <!-- Tags widget-->
            <div class="card mb-4">
                <div class="card-header">Tags</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                {% for tag in post.tags.all %}
                                <li><a href="{% url 'tag-posts-list' tag.slug %}">{{tag.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!--                                <div class="col-sm-6">-->
                        <!--                                    <ul class="list-unstyled mb-0">-->
                        <!--                                        <li><a href="#!">JavaScript</a></li>-->
                        <!--                                        <li><a href="#!">CSS</a></li>-->
                        <!--                                        <li><a href="#!">Tutorials</a></li>-->
                        <!--                                    </ul>-->
                        <!--                                </div>-->
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <!--                    <div class="card mb-4">-->
            <!--                        <div class="card-header">Side Widget</div>-->
            <!--                        <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>-->
            <!--                    </div>-->
        </div>
    </div>
</div>

<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright © Blog App 2022</p></div>
</footer>



{% endblock content %}