  {% extends 'main.html' %}
  {% load crispy_forms_tags %}
{% block content %}

      <div class="container-fluid m-2 mt-4">
        <div class="row">
          <div class="col-md-3">



            <!-- categories list Box -->
            <div class="card card-secondary">
              <div class="card-header">
                <h3 class="card-title">Tategories</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">

                {% for category in categories %}

                <strong><i class="fas fa-tag mr-1"></i> {{category.name}}</strong>
                <p class="text-muted">
                  {{category.description}}
                </p>

                <hr>
{% endfor %}

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-9">
                    <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title">New Category</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">


                <form enctype="multipart/form-data" method="POST">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-sm-4">
                            {{ form.name|as_crispy_field }}



                        </div>

                        <div class="col-sm-8">

                            {{ form.description|as_crispy_field }}
                        </div>
                    </div>



                    <div class="form-group">
                        <button class="btn btn-secondary float-right" type="submit">Add Category</button>
                    </div>
                </form>

            </div>
            <!-- /.card-body -->
        </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

{% endblock content %}