{% load crispy_forms_tags %}
{% load static %}
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'css/adminlte.min.css' %}">

<br><br><br><br>

<div class="row">
    <div class="col-4"></div>
        <div class="col-4">
<div class="card card-secondary">
    <div class="card-header">
        <h3 class="card-title">Update</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">


        <form method="POST">
            {% csrf_token %}

            {{form|crispy}}



            <div class="form-group">
                <button class="btn btn-secondary float-right" type="submit">Update</button>
            </div>
        </form>

    </div>
</div>
    </div>
            <div class="col-4"></div>
</div>>